{% extends "layout.html" %}
{% block title %}Scan File{% endblock %}
{% block content %}

<div id="fullpage">
    <div class="section " id="section0" >
        <div id="mapa" class="charts">
            <div id="map"></div>
            <div id="tabla">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div> 
        <i class="fas fa-chevron-down" id="displayDetails"></i>
    </div>
</div>

<div class="container-fluid" id="divDetails">
    <div class="row">
        <div class="col-md-8">
            <div id="chart" class="charts"></div>
        </div>
        <div class="col-md-4">
            <div id="chart2" class="charts"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

</div>

{% endblock %}

</body>
{% block footer %}
<footer>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- Plotly Charts -->
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('map',graphs,{});         
    </script>

    <script type="text/javascript">
        var graphs = {{chartJSON | safe}};
        Plotly.plot('chart',graphs,{});         
    </script>    

    <script type="text/javascript">
        var graphs = {{chartJSON2 | safe}};
        Plotly.plot('chart2',graphs,{});         
    </script> 

    <!-- JS/jQuery Functions -->
        <!-- divDetails is hidden by jQuery and not with CSS to load the dimensions of the charts first -->
    <script>
        $(document).ready(function() {
            $('#divDetails').hide();
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#displayDetails").click(function(){
                $("#divDetails").toggle();
            });
        });
    </script>

    <script>
        $('#displayDetails').on('click', function(){
            $('#displayDetails').toggleClass('fa-chevron-down fa-chevron-up');
        }); 

    </script>

{% endblock %}
</footer>
