{% extends "layout.html" %}
{% block title %}Anomalies{% endblock %}
{% block content %}

<div id="fullpage">
    <div class="section " id="section0" >
        <div id="mapa">
            <div id="map"></div>
            <div id="tabla">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>
        <i class="fas fa-chevron-down" id="displayDetails"></i>
    </div>
</div>

    <div class="container-fluid" id="divDetails">
        <div class="row">
            <div class="col-md-8">
                <div id="chart"></div>
            </div>
            <div class="col-md-4">
                <div id="chart2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>

<form id="" class="" method="post" enctype="multipart/form-data" action="/anomalies">
    <div id="divFixed" class="input-group mb-3">
        <input type="text" class="col-form-label col-form-label-sm" placeholder="IP to block" name="ip_to_block" pattern="((^|\.)((25[0-5])|(2[0-$
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary btn-sm" value="addRule" id="addRule">Add Rule</button>
            <button type="submit" class="btn btn-warning btn-sm" value="raAnalyze" id="reAnalyze">Re-Analyze LOG</button>
            {% if ban_ip != None %}
                <button type="button" id="rule_info" class="btn btn-success btn-sm">Success {{ ban_ip }}</button>
            {% endif %}
        </div>
    </div>
</form>

{% endblock %}



{% block footer %}
<footer>
        <!-- D3.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('map',graphs,{});         
    </script>

    <script type="text/javascript">
        var graphs = {{chartJSON | safe}};
        Plotly.plot('chart',graphs,{});         
    </script>
    
    <script type="text/javascript">
        var graphs = {{chartJSON2 | safe}};
        Plotly.plot('chart2',graphs,{});         
    </script>
<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    (function(){
        $.getJSON(
            $SCRIPT_ROOT+"/anomaliesTable", // Your AJAX route here
            function(data) {
			console.log(data)                // Update the value in your table here
            }
        );
        setTimeout(arguments.callee, 10000);
    })();
</script>

    <!-- JS/jQuery Functions -->
        <!-- divDetails is hidden by jQuery and not with CSS to load the dimensions of the charts first -->
    <script>
        $(document).ready(function() {
            $('#divDetails').hide();
        });
    </script>

    <script>
        $(document).ready(function(){
            $("#displayDetails").click(function(){
                $("#divDetails").toggle();
            });
        });
    </script>

    <script>
        $('#displayDetails').on('click', function(){
            $('#displayDetails').toggleClass('fa-chevron-down fa-chevron-up');
        });
    </script>

    <script>
        setTimeout(function() {
            $('#rule_info').hide()
        }, 3000);
    </script>

{% endblock %}

</footer>
