{% extends "layout.html" %}
{% block title %}Anomalies{% endblock %}
{% block content %}

<div id="fullpage">
    <div class="section " id="section0" >
        <div id="mapa">
            <div id="map"></div>
            <div id="tabla">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>
        <button onclick="myFunction()">DETALLES</button> 
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div id="chart"></div>
            </div>
            <div class="col-md-4">
                <div id="chart2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>

{% endblock %}



{% block footer %}
<footer>
        <!-- D3.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <!-- Plotly.js -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        Plotly.plot('map',graphs,{});         
    </script>

    <script type="text/javascript">
        var graphs = {{chartJSON | safe}};
        Plotly.plot('chart',graphs,{});         
    </script>
    
    <script type="text/javascript">
        var graphs = {{chartJSON2 | safe}};
        Plotly.plot('chart2',graphs,{});         
    </script>

<script>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    (function(){
        $.getJSON(
            $SCRIPT_ROOT+"/anomaliesTable", // Your AJAX route here
            function(data) {
			console.log(data)                // Update the value in your table here
            }
        );
        setTimeout(arguments.callee, 10000);
    })();
</script>

{% endblock %}

</footer>
